			<div class="form-group">
				<label for="professioninput">Profession</label>
				<select class="form-control form-control-lg" id="professioninput">
					<option>----</option>
					<option>Allied Medical Professional</option>
					<option>Dentist</option>
					<option>Dietician</option>
					<option>Doctor</option>
					<option>Medical Coder</option>
					<option>Medical Technologist</option>
					<option>Nurse</option>
					<option>Pharmacist</option>
					<option>Recruiter</option>
				</select>
			</div>
			<div class="form-group">
				<label for="postspreferenceinput">Looking For</label>
				<select class="form-control form-control-lg" id="postspreferenceinput">
					<option>----</option>
					<option>Regular Posts</option>
					<option>Reliever Posts</option>
					<option>Regular and Reliever Posts</option>
				</select>
			</div>