{% extends 'book/base.html' %}
{% block title %} Add a Post {% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-7">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Add a Post</h3>
						<form class="form" action="" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{% include 'book/form_template.html' %}
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-success">Add Post</button>
								</div>
				
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}